/*	ALBATROS LESS CSS
*	YOU MAY EDIT AND CHANGE THIS FILE AS YOU LIKE
*	AUTHOR: TOBIAS FRIBERG
*	FOR MORE INFORMATION: https://github.com/AlbatrosCss
*/


/*CONFIG------------------------------------*/

	/*COLORS--------------------------------------*/
	//	Standard baseColor: #1a4b94
	@backgroundColor: #fff;
	@baseColor: #1a4b94;
	@grayColor: #808080;

	@baseFontColor: #2a2a2a;
	@menuFontColor: #fff;
	@listMenuFontColor: #000;
	@linkFontColor: #1a4b94;

	@buttonHighlightCol:#1a4b94;

	/*FONT--------------------------------------*/
	.font{
		font-family: 'Source Sans Pro', sans-serif;
	}
	@baseFontSize: 14px;
	@buttonFontSize: 14px;
	@menuFontSize: 18px;

	/*PATH--------------------------------------*/
	@imgPath: "img/";

	/*FONT--------------------------------------*/


/*/CONFIG------------------------------------*/